pushi 0
pushi 0
start
cycle0:
pushg 1
pushi 10
inf
jz endcycle0
pushg 1
writei
pushg 1
pushi 1
add
storeg 1
jump cycle0
endcycle0:
pushi 0
storeg 1
cycle1:
pushg 1
pushi 10
inf
jz endcycle1
pushg 1
writei
pushg 1
pushi 1
add
storeg 1
jump cycle1
endcycle1:
pushi 0
storeg 1
cycle2:
pushg 1
writei
pushg 1
pushi 1
add
storeg 1
pushg 1
pushi 10
equal
jz cycle2
stop
